.kargoMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.kargoMain>p {
    width: 100%;
    padding: 10px;
    border-bottom: 2px dotted black;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}

.kargoBox {
    display: flex;
    column-gap: 2em;
    margin-top: 2em;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.kargoCard {
    width: 300px;
    height: 150px;
    background-color: #c7c5cc;
    display: flex;
    align-items: center;
}

.kargoCard .karticon {
    width: 30%;
    font-size: 50px;
}

.kargoCard p {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2px;
    color: black;
    font-weight: bold;
    font-size: 0.9em;
}

.kargoCard p span {
    color: #10bc49;
}
@media screen and (max-width: 480px) {
    .kargoMain>p {
        font-size: .8em;
    }
}