.product{
    width: 100%;
    height: auto;
    display: flex;
}
.product .altMen端{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0edfa;
}
.product .altMen端 ul{
    list-style: none;
    width: 100%;
}
.Card{
    flex: 1;
    height: calc(100vh - 110px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.3em 10px;
    margin-right: 5px;
    overflow: scroll;
} 
@media screen and (max-width: 900px) {
    .product{
        display: flex;
        flex-direction: column;
    }
    .product .altMen端{
        width: 100%;
        display: flex;
    }
    .product .altMen端 ul{
        display: flex;
    }
}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 480px) {

}
