.detailpage{
    width: 80%;
    height: calc(100vh - 150px);
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px;
    background-color: #f0edfa;
}
.detailpage .leftPage{
    width: 40%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
}
.detailpage .leftPage img{
    width: 100%;
    object-fit: contain;
}
.rightPage{
    width: 55%;
    height: 100%;
}
.rightPage .rightdesc{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
}
.rightPage .rightdesc .righttitle{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid black;
    text-transform: capitalize;
    font-size: 2em;
}
.detailpage .rightdesc .priceButton{
    display: flex;
    justify-content: space-between;
}
.detailpage .rightdesc .priceButton>h1{
    font-size: 2.2em;
    font-weight: bold;
    color: rgb(16, 180, 16);
    margin-bottom: 15px;
}
.detailpage .rightdesc .priceButton button{
    width: 40%;
    padding:10px;
    background-color: #10bc49;
    border-radius: 5px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.detailpage .rightdesc .priceButton button:hover{
    background-color: #176932;
}
@media screen and (max-width: 1200px) {
    .detailpage{
        width: 90%;
        height: auto;
    }
    .rightPage .rightdesc .righttitle{
        font-size: 1.5em;
        margin: 1em 0;
    }
    .detailpage .rightdesc .priceButton{
        margin: 1em 0;
    }
}
@media screen and (max-width: 900px) {
    .detailpage{
        width: 90%;
        flex-direction: column;
        height: auto;
    }
    .detailpage .leftPage{
        width: 50%;
        border: 1px solid orange;
    }
    .rightPage{
        width: 100%;
        height: 100%;
    }
    .rightPage .rightdesc .righttitle{
        margin: 1em 0;
    }
    .detailpage .rightdesc .priceButton{
        margin: 1em 0;
    }
}
