@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
.HeaderTop{
    height: 60px;
    background-color: black;
    color:#fa8035;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    font-size: 1.1em;
    font-weight: bold;
    background-image: url("../../img/Blackfriday.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.HeaderMiddle{
    height: 60px;
    background-color: #c7c5cc;
    display: flex;
    justify-content: space-between;
}
.HeaderMiddle .anasayfa{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.HeaderMiddle>.anasayfa>p{
    font-size:2.5em;
    margin-left: 1.1em;
    font-family: 'Rubik Glitch', cursive;
    align-items: center;
    display: flex;
    color: black;

}
.HeaderMiddle .user{
    display: flex;
    justify-content: center;
    align-self: center;
    gap:20px;
    margin-right: 20px;
}
.HeaderMiddle .user .accountbasket{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
    color:  black;
}
.HeaderMiddle .user .accountbasket .icons{
    font-size: 25px;
}
.HeaderMiddle img{
    height: 60px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 30px);
}
.headerbottom{
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: #f0edfa;
}
.nav{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
}
.nav li{
    list-style: none;
}
.nav .navlist{
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.nav .navlist img{
    width:2.5em;
    height: 2.5em;
    margin-right: 5px;
}
