*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
main{
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
}

.title>p{
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 1em ;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}
